<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h1>Movie App</h1>
            <div class="row justify-content-center">
                <div class="col-md-6 justify-content-center input-group m-3">
                    <div class="input-group-prepend">
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Title</option>
                            <option>Release Year</option>
                        </select>
                    </div>
                    <Input type="text" class="form-control" aria-label="Text input with dropdown button" @value={{this.value}} />
                    <button {{action "submit" value}}>Go</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">

        {{#each this.model as |movie|}}
        <MovieCard @title={{movie.Title}} @year={{movie.Year}} @poster={{movie.Poster}} />
        {{/each}}

    </div>
</div>


{{outlet}}